* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
	max-width: 1024px;
	word-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}


hr {
    margin: .7em 0;
    padding: 0 6.25%;
    border-top: 1px dashed #d0d0d0;
    border-bottom: 1px dashed #f9f9f9;
}

p {
    padding: .5em 0;
}

a {
	text-decoration: none;
	color: #dd0000;
	word-wrap: break-word;
}

li {
    padding: .2em 0;
}

ol, ul {
    list-style-position: inside;
}

ol ul, ul ol, ul ul, ol ol {
    margin-left: 1em;
}



/*
header {
    padding: .5em 0;
    border-bottom: 1px solid #cccccc;
}*/


h1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 1.6em;
    color: #000;
    padding: 10px 0; 
}

h2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 1.4em;
    color: #111;
    padding: 10px 0;
}

h3 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 1.2em;
    color: #222;
    padding: 10px 0; 
}

h4 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 1em;
    color: #333;
}


blockquote {
    display: block;
    /*text-align: justify;*/
    border-left: 4px solid #eeeeee;
    margin: 1em 0em;
    padding-left: 1.5em;
}

blockquote p {
    margin: 0;
    padding: .5em 0;
}

pre code {
    margin: 1em 0;
    padding-right: 20px;
    font-size: 14px;
    line-height: 1.6;
    display: block;
    overflow: auto;
    /* word-break: break-all; */
    /*word-wrap: normal;*/
}

code {
    display: inline-block;
    margin: 0.2em 0.2em;
    padding: 0 0.2em;
    background-color: #f0f0f0;
    word-wrap: break-word;
    word-break: break-all;
}

pre, code {
    font-family: Menlo, Monaco, Consolas, Inconsolata, monospace, sans-serif;
    font-size: 14px;
}


.pure-g [class *="pure-u"] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.inner-body {
	position: relative;
	display: block;
    background: #ffffff;
	overflow: hidden;
}

.container {
	width: 100%;
}


#container {
    position: relative;
    /*width: 92%;*/
    /*max-width: 880px;*/
    padding: 0 6.25%;
    display: block;
    /*padding: 0 0em;*/
}

.header {
	/*position: fixed;*/
	width: 100%;
	height: 80px;
	background: #fff;
	z-index: 10;
}

.header-title {
	padding-left: 6.25%;
	font-size: 21px;
	font-weight: normal;
	line-height: 80px;
	color: #c9ced1;
}


.header-title .thin {
	padding-left: 16px;
	font-weight: lighter;
}

.nav {
	float: right;
	padding-right: 6.25%;
	text-align: right;
	white-space: nowrap;
}
.nav-item {
	display: table-cell;
	float: right;
	padding: 0 18px;
	/*font-size: 18px;*/
	font-weight: 500;
	line-height: 80px;
	color: #343434;
	border-top: 3px solid #fff;
	transition: all 0.3s;
	cursor: pointer;
}
.nav-item:hover {
	/*font-weight: 500;*/
	/*line-height: 80px;*/
	color: #ff4b23;
}

.nav-item .active {
	color: #ff4b23;
}

.nav .active {
	color: #ff4b23;
}

#menu {
	visibility: hidden;
}

/*
.backtotop {
    position: fixed;
    bottom: 113px;
    left: 50%;
    z-index: 19;
    margin-left: 230px;
}
*/


a.back-to-top {
	display: none;
	width: 36px;
	height: 36px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 5%;
	bottom: 36px;
	background: #e2e2e2 no-repeat center 43%;
	opacity: 0.8;
	background-image: url("up_arrow.png") no-repeat;
	background-size: 32px 32px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a:hover.back-to-top {
	background-color: #cccccc;
}


/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min--moz-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
    a.back-to-top {
    	background-image:url(up_arrow_2x.png);
    	background-size: 32px 32px;
    }
}

.content {
    font-size: 15px;
    line-height: 24px;
}

.content h1 {
    padding: .5em 0;
}

.content img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    display: block;
    margin: 4px auto;
    -webkit-box-shadow: #999 1px 1px 4px;
    -moz-box-shadow: #999 1px 1px 4px;
    box-shadow: #999 1px 1px 4px;
}


.post-title h1 {
	color: #dd0000;
	margin-top: 20px;
	/*line-height: 32px;*/
	font-weight: normal;
	text-align: center;
}

.post-title p {
	/*right: 0px;*/
	margin: auto;
	padding: 0;
	color: #999999;
	font-size: 13px;
	line-height: 14px;
	text-align: right;
}

#tag_cloud {
    margin-bottom: 1em;
}

#tag_cloud a {
    margin-right: 1em;
}

#tag_cloud a:hover {
    color: #333333 !important;
    text-decoration: none;
}

.listing {
	padding: 0;
	margin-top: 0;
}

.listing-item, .listing-seperator {
    list-style-type: none;
}

.listing-seperator {
	/*padding-top: 20px;*/
	padding-bottom: 5px;
	font-size: 21px;
	line-height: 32px;
}

.listing-item {
	padding: .2em 0;
}

.listing-item a{
	padding: .2em 4%;
	padding-right: 0;
}

.listing-item time {
    color: #999999;
}


.meta {
    text-align: right;
    font-size: 12px;
}

.pageNav {
    font-weight: bold;
    font-size: 17px;
}

.pageNavInvalid {
    font-weight: bold;
    font-size: 17px;
    color: #D0D0D0;
}

footer {
    display: block;
    border-top: 1px dashed #CCC;
   	height: 100px;
	margin: 40px 6.25%;
	padding: 40px 0; 
	text-align: center;
}

footer small {
    font-size: 13px;
    color: #999;
}

footer a {
    margin: 1px;
    border: 1px solid rgba(1, 1, 1, 0);
    border-bottom: 1px dashed #BBB;
    color: #B9221F;
    text-decoration: none;
}

footer a:hover {
    color: rgba(250, 250, 250, 1.0) !important;
    -webkit-border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(110, 110, 110, 1.0)), to(rgba(100, 100, 100, 1.0)));
    -webkit-box-shadow: rgba(0, 0, 0, 1.0) 0px 0px 2px, rgba(255, 255, 255, 0.15) 0px 1px 1px inset;
    text-decoration: none;
}

.label {
    font-size: 11.25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 3px 2px;
}

.label-important {
    background-color: #b94a48;
}

.label-warning {
    background-color: #f89406;
}

.label-success {
    background-color: #468847;
}

.label-info {
    background-color: #3a87ad;
}

@media (max-width: 48em) {
	h1 {
		font-size: 28px;
		font-weight: bold;
		line-height: 56px;
	}
	.header {
		height: 60px;
		z-index: 3;
	}
	.header-title {
		padding-left: 6.4%;
		width: 60%;
		line-height: 60px;
	}
	.nav {
		display: none;
	}

	#toggle {
		display: block;
		position: absolute;
		right: 6.4%;
		padding: 20px 0px 20px 20px;
		top: 10px;
		width: 40px;
		height: 64px;
		z-index: 10;
	}

	#toggle span:after,
	#toggle span:before {
		content: "";
		position: absolute;
		left: 0;
		top: -7px;
	}
	#toggle span:after{
		top: 7px;
	}
	#toggle span {
		position: relative;
		display: block;
	}

	#toggle span,
	#toggle span:after,
	#toggle span:before {
		width: 100%;
		height: 2px;
		background-color: #101010;
		transition: all 0.3s;
		backface-visibility: hidden;
		/*border-radius: 2px;*/
	}

	#toggle.on span {
		background-color: transparent;
	}
	#toggle.on span:before {
		transform: rotate(45deg) translate(5px, 5px);
	}
	#toggle.on span:after {
		transform: rotate(-45deg) translate(5px, -5px);
	}
	#toggle.on,
	#menu.on {
		opacity: 1;
		visibility: visible;
	}

	#menu {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .4s;
	}

	.burger-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		padding-top: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 10;
	}
	.burger-menu {
		position: fixed;
		width: 100%;
		height: 100%;
		padding: 0px 0;
		background: #fff;
		z-index: 10;
	}
	.burger-item,
	.burger-dropdown {
		display: block;

		font-size: 20px;
		/*font-weight: bold;*/
		line-height: 36px;
		color: #3d4245;
		cursor: pointer;
	}
	.burger-item {
		padding: 12px 6.4%;
		width: 92%;
	}
	.burger-item.disabled {
		color: #afb1b1;
	}

	.burger-dropdown-toggle {
		padding: 12px 6.4%;
	}
	.burger-dropdown-toggle span {
		display: inline-block;
		position: relative;
		left: 22px;
		top: -3px;
		width: 13px;
		height: 8px;
		background: url("../img/caret.png") no-repeat;
		background-image: -webkit-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		background-image: -moz-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		background-image: -ms-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		background-image: -o-image-set(url('../img/caret.png') 1x, url('../img/caret@2x.png') 2x);
		transition: all 0.3s ease-in-out;
	}
	.burger-dropdown-toggle span.on {
		transform: rotate(180deg);
	}
	.burger-dropdown-menu {
		display: none;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
	}
	.burger-dropdown-menu.on {
		display: block;
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	.burger-dropdown-item {
		display: block;
		padding: 8px 6.4%;
		font-size: 18px;
		font-weight: normal;
		text-align: left;
		color: #3d4245;
	}

	.listing-item {
		padding: 0.4em 0;
	}

	.listing-item a{
		padding-left: 0;
	}

	.listing-item time {
		display: none;
	}
}

